name: Test new thrift server module

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '1.8', '11' ]
        hadoop: [ 'hadoop-2.7', 'hadoop-3.2' ]
        exclude:
          - java: '11'
            hadoop: 'hadoop-2.7'
    name: Build Spark with JDK ${{ matrix.java }} and ${{ matrix.hadoop }}

    steps:
      - uses: actions/checkout@master
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Test thriftserver with Sbt
        run: |
          ./build/sbt  "service/test-only" -Pspark-thriftserver -P${{ matrix.hadoop }} -Djava.version=${{ matrix.java }}
  lint:
    runs-on: ubuntu-latest
    name: Linters
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - uses: actions/setup-python@v1
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Scala
        run: ./dev/lint-scala
      - name: Java
        run: ./dev/lint-java
      - name: Python
        run: |
          pip install flake8 sphinx numpy
          ./dev/lint-python
      - name: License
        run: ./dev/check-license
      - name: Dependencies
        run: ./dev/test-dependencies.sh
